<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <h2>URL Shortner</h2>
  <form action="/generate" method="POST">
	ENTER URL: <input type="text" name="orgurl" placeholder><br>
	<input type="submit" name="login" value="Submit">
</form>
<p>Result: <p><%= url%>
  </body>
</html>